<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS Developers</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.AllergyActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Required Global Properties -->
	<globalProperty>
		<property>allergy.concept.severity.mild</property>
		<defaultValue>1498AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</defaultValue>
		<description>UUID for the MILD severity concept</description>
	</globalProperty>
	
	<globalProperty>
		<property>allergy.concept.severity.moderate</property>
		<defaultValue>1499AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</defaultValue>
		<description>UUID for the MODERATE severity concept</description>
	</globalProperty>
	
	<globalProperty>
		<property>allergy.concept.severity.severe</property>
		<defaultValue>1500AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</defaultValue>
		<description>UUID for the SEVERE severity concept</description>
	</globalProperty>
	
	<globalProperty>
		<property>allergy.concept.allergen.food</property>
		<defaultValue>162553AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</defaultValue>
		<description>UUID for the food allergens concept</description>
	</globalProperty>
	
	<globalProperty>
		<property>allergy.concept.allergen.drug</property>
		<defaultValue>162552AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</defaultValue>
		<description>UUID for the drug allergens concept</description>
	</globalProperty>
	
	<globalProperty>
		<property>allergy.concept.allergen.environment</property>
		<defaultValue>162554AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</defaultValue>
		<description>UUID for the environment allergens concept</description>
	</globalProperty>
	
	<globalProperty>
		<property>allergy.concept.reactions</property>
		<defaultValue>162555AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</defaultValue>
		<description>UUID for the allergy reactions concept</description>
	</globalProperty>
	
	<globalProperty>
		<property>allergy.concept.otherNonCoded</property>
		<defaultValue>5622AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</defaultValue>
		<description>UUID for the allergy other non coded concept</description>
	</globalProperty>
	
	<globalProperty>
		<property>allergy.concept.unknown</property>
		<defaultValue>1067AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</defaultValue>
		<description>UUID for the allergy unknown concept</description>
	</globalProperty>
	
	<privilege>
		<name>Task: Modify Allergies</name>
		<description>Able to add, edit, delete allergies</description>
	</privilege>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		Allergy.hbm.xml
		AllergyReaction.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

